footer {
    background-color: #eeeeee;
    margin-top: 100px;
}

footer a, footer a:hover {
    color: #000;
}

.footer-end {
    background-color: #000;
}

.heading {
    padding: 1px;
}

.heading-1{
    padding: 1px;
    align-content: center;
    text-align: center;
}

.donate {
    color: #fafafa;
    background-color: #000000;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.twitter i {
    color:#1661ab;
    margin: 5px;
}

.mail i {
    color: #495057;
    margin: 5px;
}

.footer-1{
    padding-top: 25px;
}

.footer-2{
    padding-top: 25px;
    text-align:center;
}

.p{
    line-height: 2em;
}

.img{
    width: auto;
    height: 100px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}